<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <title>Sessions</title>
    <link rel="stylesheet" href="/css/events_page_admin.css">
</head>


<div class="container-navbar">
    <%- include('../partials/nav_admin') %>
</div>



<body>

    <div class="maincontent">

  
         <!-- Blocks containing contact details for searched users -->
    <% events.forEach(function (event) { %>
        <div class="eventDetails">
          <!-- The user's name in white, against a red background -->
   
          <div class="eventDetailsBody">
            

            <div class="events-row row">
                <div class="col">
                    <p class=date> <%= event.date_of_event %></p>
                </div>
                <div class="col">
                    <p class=day>Friday</p>
                </div>
                <div class="col-lg-12 location-col">
                    <h1 class="location"><%= event.session_name %></h1>
                    <h2 class="time"><%= event.session_start_time+" "+event.session_end_time %></h2>
                </div>
                <div class="col">
                    <button class="showusers-button" type="button"><h5>Show users</h5></button>
                    <button class="qrcode-button" type="button"><h4>QR Code</h4></button>
                    <button class="attend-button" type="button"><h4>Edit event</h4></button>
                    <button class="delete-button" type="button"><h5>Delete event</h5></button>
                </div>

        <% }); %>
    
        <!-- JavaScripts and link to jquery CDN -->
        <script src="https://code.jquery.com/jquery-3.6.0.slim.js"></script>
        <script src="js/users.js"></script>

<div class="neweventcontainer">
<div class="container">
    <div class="row">
      <div class="col-10">
        
      </div>
      <div class="col-2">
        <img src="images/andnewuser.png" alt="and new user button" style="max-width: 80%;height: auto;  ">
      </div>
  </div>
</div>
</body>