<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <title>Sessions</title>
    <link rel="stylesheet" href="/css/events_page.css">
    <link rel="stylesheet" href="/css/nav.css">

</head>

<main class="register-container">
    <div class="register-form-row">



        <div class="container-navbar ">
            <%- include('../partials/nav_user') %>
        </div>
    </div>

</main>

<body>
   

         <!-- Blocks containing contact details for searched users -->
         <% events.forEach(function (event) { %>
            <div class="eventDetails">
              <!-- The user's name in white, against a red background -->
       
              <div class="eventDetailsBody">
                
    
                <div class="events-row row">
                    <div class="col">
                        <p class=eventname> <%= event.eventname %></p>
                        <p class=date> <%= event.date_of_event %></p>
                    </div>
                    <div class="col">
                        <p class=day>Friday</p>
                    </div>
                    <div class="col-lg-12 location-col">
                        <h1 class="location"><%= event.location %></h1>
                        <h2 class="time"><%= event.session_start_time+" "+event.session_end_time %></h2>

                    </div>
    
            <% }); %>
        
            <!-- JavaScripts and link to jquery CDN -->
            <script src="https://code.jquery.com/jquery-3.6.0.slim.js"></script>
            <script src="js/users.js"></script>
    


        </div>
    </div>
</body>